.cover-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Users/reach2kartik/Desktop/Decision Trees/dt_module/dt/src/hardback-books.jpg');
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    text-align: center;
    overflow: hidden; 
  }
  
  .cover-content {
    margin-right: 20rem;
    max-width: 90%;
    padding: 20px;
    border-radius: 15px;
    background: rgba(65, 62, 62, 0.5);
    box-shadow: 0 4px 15px rgba(248, 246, 246, 0.3);
  }
  
  .cover-title {
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .cover-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #333;
    background-color: #c8c4c4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #fdbb2d;
    color: #fff;
    transform: scale(1.05);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .cover-title {
      font-size: 2.5rem;
    }
  
    .cover-subtitle {
      font-size: 1rem;
    }
  
    .start-button {
      font-size: 1rem;
      padding: 8px 16px;
    }
  }
  