/* .module-container {
    font-family: 'Arial', sans-serif;
    background: #f5f7fa;
    color: #333;
    padding: 0px;
  } */
  
  .module-header {
    background-color: #c6d2de;
    position: sticky;
    top: 0;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
    height: 100px;

  }
  
  .module-header h1 {
    font-size: 2.5rem;
  }
  
  .module-header p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .intro-section, .interactive-example {
    font-size: large;
    text-align: center;
    margin: 50px;
    padding: 50px;
    background: #d7c0c0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .intro-section h2, .interactive-example h2 {
    font-size: 1.8rem;
    color: #222;
  }
  
  .intro-section img, .interactive-example img {
    max-width: 50%;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .module-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .next-button {
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .next-button:hover {
    background: #0056b3;
  }
  